<div id="edit-profile" v-cloak>
  <div class="container pt-5 pb-5">
    <h1>Update personal info</h1>
    <hr/>
    <ajax-form :action="(formData.admin) ? 'adminUpdateProfile': 'updateProfile'" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
      <input type="hidden" name="id" v-model="formData.id">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="full-name">Full name</label>
            <input class="form-control" id="full-name" name="full-name" type="text"  :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder="Sturgis P. Sturgeon" autocomplete="name" focus-first>
            <div class="invalid-feedback" v-if="formErrors.fullName">Please enter your full name.</div>
          </div>
          <div class="form-group">
            <label for="alias">Alias</label>
            <input class="form-control" id="alias" name="alias" type="text"  :class="[formErrors.alias ? 'is-invalid' : '']" v-model.trim="formData.alias" placeholder="ChessMaster" autocomplete="alias">
            <div class="invalid-feedback" v-if="formErrors.alias">Please enter your alias.</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email-address">Email address</label>
            <input class="form-control" id="email-address" name="email-address" type="email"  :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="sturgeon@example.com" autocomplete="email">
            <div class="invalid-feedback" v-if="formErrors.emailAddress">Please enter a valid email address.</div>
          </div>
          <div v-show="formData.admin" class="form-check">
            <input type="checkbox" class="form-check-input" id="admin" name="admin" v-model="formData.isSuperAdmin">
            <label class="form-check-label" for="admin">Administrator</label>
          </div>
          <div v-show="formData.admin" class="form-check">
            <input type="checkbox" class="form-check-input" id="disabled" name="disabled" v-model="formData.isDisabled">
            <label class="form-check-label" for="disabled">Disabled</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <cloud-error v-if="cloudError === 'emailAlreadyInUse'">There is already an account using that email address.</cloud-error>
          <cloud-error v-if="cloudError"></cloud-error>
        </div>
        <div class="col-sm-6">
          <div class="form-group text-right">
            <a v-if="formData.admin" class="btn btn-outline-info" href="/admin/accounts">Cancel</a>
            <a v-if="!formData.admin" class="btn btn-outline-info" href="/account">Cancel</a>
            <ajax-button type="submit" :syncing="syncing" class="btn btn-dark">Save changes</ajax-button>
          </div>
        </div>
      </div>
    </ajax-form>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
