<div id="welcome">
  <div class="container pt-5 pb-5">
    <h1>Welcome to Elephant Chess!</h1>
    <hr/>
    <p>This is your personal homepage.</p>
    <br>
    <div class="stats">
      <p>TODO: Add site announcements and stuff</p>
      <p>TODO: Add personal and site statistics and stuff</p>
    </div>
    <div class="buttons">
      <a class="btn btn-info" href="/games">Go To My Games</a>
      <a class="btn btn-info" href="/account/profile">Update my email</a>
    </div>
  </div>

  <router-view></router-view>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
