<div id="faq">
  <div class="container pt-5 pb-5">
    <h1>FAQ</h1>
    <div>
      <hr class="mt-4 mb-4"/>
   <h> RULES FOR ELEPHANT CHESS !</h>
<p>1. The elephant piece can NEVER be Captured NOR can it Capture any chess piece.</P>

<p>2. The elephant piece is obtained by a player who captures an opponent's piece.</p>

<p>3. The elephant piece can be placed on ANY empty square.</p>

<p>4. The square the elephant piece currently resides becomes IMPASSABLE to both players.</p>

<h1>DOMINATION or CATCH and RELEASE!<h1/>
<p>Domination mode: A player who currently dominates(controls) the elephant piece can choose to move it OR a regular chess piece when it's their turn but cannot move the elephant and a regular chess piece simultaneously(at the same time).</p>

<p>(Exception to this rule Only applies to the first player to capture a chess piece!)</p>

<p>Catch and Release mode: A player who captures an opponent's piece can move the elephant simultaneously(at the same time) upon capturing their opponent's chess piece.<p>

<p>Addendum: The elephant piece is used to hinder/disrupt an opponent's strategies during the course of the game. It can be used offensively as well as defensively.</p>

<p>We Hope You Will Enjoy Elephant Chess!</p>
        
      <div class="container pt-1" class="d-flex justify-content-center">
        <div style="left: 0; top: 0; width: 140px;" class="">
          <img alt="Elephant Chess being played" src="/images/echess.gif" class="w-100"/>
        </div>
      </div>
    </div>
    <div>
      <hr class="mt-4 mb-4"/>
      <h4>Where can I sign up to play Elephant Chess?</h4>
      <p>You can sign up using the <a href="/signup">Sign up</a> form.</p>
    </div>
    <div>
      <hr class="mt-4 mb-4"/>
      <h4>Is there an Elephant Chess forum?</h4>
      <p>Please visit the <a href="https://www.chess.com/club/elephant-chess-1">Elephant Chess Club</a> at <a href="http://www.chess.com">Chess.com</a></p>
    </div>
    <div>
      <hr class="mt-4 mb-4"/>
      <h4>Where can I go for more help?</h4>
      <p>Please send us a question using the <a href="/contact">form</a>.</p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
