<div id="faq">
  <div class="container pt-5 pb-5">
    <h1>FAQ</h1>
    <div>
      <hr class="mt-4 mb-4"/>
      <h4>What are the rules of the game?</h4>
      <p>Elephant chess has the same rules as the classic game of chess except for the addition of one new piece; the elephant.  The elephant piece cannot be captured by either side but can only be moved by either side once the side has taken control of the elphant piece.<p>
      <p>The elephant piece can be moved to any adjacent square...</p>
      <p>To move the elephant piece you must first be in position to capture it...</p>
      <p>To capture the elephant piece...</p>
      <p>...</p>
      <p>We hope you enjoy Elephant Chess as much as we do!</p>
    </div>
    <div>
      <hr class="mt-4 mb-4"/>
      <h4>Next question?</h4>
      <p>blah blah blah</p>
    </div>
    <div>
      <hr class="mt-4 mb-4"/>
      <h4>Where can I go for more help?</h4>
      <p>Please send us a question using the <a href="/contact">form</a>.</p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
