<div id="faq">
  <div class="container pt-5 pb-5">
    <h1>FAQ</h1>
    <div>
      <hr class="mt-4 mb-4"/>
      <h4>What are the rules of the game?</h4>
      <p>Elephant chess has the same rules as the classic game of chess except for the following additional rules.</p>
      <ol>
        <li>There is one extra piece added to the existing chess board. This is the Elephant. The Elephant can <strong>never</strong> be captured.  It can only be <strong>dominated</strong> by the players.</li>
        <li>Before any moves, the Elephant piece is placed at the very center of the board occupying <strong>no</strong> square. <strong style="color:red">TODO</strong>: Add image of center of board with elephant piece.</li>
        <li>The first player to capture any piece is the first to <strong>dominate</strong> the Elephant. That player may place the Elephant on <strong>any</strong> square that is not occupied by another piece. <strong style="color:red">TODO</strong>: Can the player choose not to place the Elephant at this time and what happens if they do so?</li>
        <li>The square that is occupied by the Elephant becomes blocked and impassable. No piece may use/occupy/pass through (except the knight which cannot occupy that square but pass over/through it like the knight may do to any other piece on the board). All other pieces must go around the Elephant.</li>
        <li>The next chess piece captured determines who dominates the Elephant. If the current Elephant dominator captures the next piece they may move the Elephant to another unoccupied square or leave it where it currently resides. The other player must wait until they capture an opponent's piece to dominate the Elephant.</li>
        <li>The Elephant is used to block and therefore disrupt the strategy of the opponent. The process continues until the game is over by checkmate or stalemate.</li>
        <li>Since there is a greater likelihood of a stalemate in Elephant Chess the players may choose before the start of the game if they wish to add the Elephant Chess retroactive move to their game. The only difference is that when a game cannot be won by either opponent and a stalemate is imminent because of the Elephant position on the board, the player with the most <strong>points</strong> (not captured pieces), can move the Elephant one final time which may or may not affect the outcome but allows for a chance to lessen the stalemate outcome, or can cause an otherwise lost game to end in a stalemate.  The decision is made <strong>before</strong> the game begins.</li>
      </ol>
      <p>Those are all of the rules.</p>
      <p>We hope you enjoy Elephant Chess as much as we do!</p>
    </div>
    <div>
      <hr class="mt-4 mb-4"/>
      <h4>Where can I sign up to play Elephant Chess?</h4>
      <p>You can sign up using the <a href="/signup">Sign up</a> form.</p>
    </div>
    <div>
      <hr class="mt-4 mb-4"/>
      <h4>Is there an Elephant Chess forum somewhere??</h4>
      <p>Not yet. But we plan on adding one to the site.</p>
    </div>
    <div>
      <hr class="mt-4 mb-4"/>
      <h4>Next question?</h4>
      <p>blah blah blah</p>
    </div>
    <div>
      <hr class="mt-4 mb-4"/>
      <h4>Where can I go for more help?</h4>
      <p>Please send us a question using the <a href="/contact">form</a>.</p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
