<div id="games" v-cloak>

  <div class="container">
    <div class="title page-header text-center">
      <h1>Games</h1>
      <p>Create and continue playing games.</p>
      <div class="header-buttons">
        <button class="btn btn-outline-primary" @click="openCreateGameForm()">New Game</button>
      </div>
      <br>
    </div>
    <div class="row justify-content-center" :key="'game' + game.id" v-for="game in games">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <board
              :id="game.id"
              :name="game.name"
              free="false"
              :fen="game.currentFEN"
              :orientation="game.userSide"
              show-threats="false"
              :user-side="game.userSide"
              :opponent="game.opponent">
            </board>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <game-chat
              :game-id="game.id"
              :chats="game.chats"
              :opponent="game.opponent"
              :user-id="game.userId">
            </game-chat>
          </div>
        </div>
      </div>
    </div>
    <div class="row empty text-center" v-if="games.length == 0">
      <p>You do not have any active games at this time. Create a <a @click="openCreateGameForm()">New Game</a> to get started.</p>
    </div>
  </div>

  <% /* "Create Game" modal */ %>
  <modal v-if="creatingGame" v-cloak key="new" @close="closeCreateGameForm()">
    <div class="modal-header">
      <h5 class="modal-title">Create Game</h5>
    </div>
    <ajax-form action="createGame" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="{name: newGameDef.name, side: newGameDef.side, opponent: newGameDef.opponent, timeLimit: newGameDef.timeLimit, mode: newGameDef.mode}" @submitted="submittedCreateGameForm($event)" v-if="!createGameFormSuccess">
      <div class="modal-body">
        <label class="">
          Opponent:
          <select id="opponent" v-model="newGameDef.opponent" class="" required>
            <option v-for="opponent in opponents" v-bind:value="opponent.id">{{opponent.fullName}}</option>
          </select>
        </label>
        <br>
        <label>
          Type:
          <div class="radio-inline">
            <label>
              <input type="radio" id="domination" checked class="" name="mode" value="domination" v-model="newGameDef.mode">
              Domination
            </label>
            <label>
              <input type="radio" id="catch_and_release" class="" name="mode" value="catch_and_release" v-model="newGameDef.mode">
              Catch and Release
            </label>
          </div>
        </label>
        <br>
        <label>
          Side:
          <div class="radio-inline">
            <label>
              <input type="radio" id="white" class="" checked name="side" value="white" v-model="newGameDef.side">
              White
            </label>
            <label>
              <input type="radio" id="black" class="" name="side" value="black" v-model="newGameDef.side">
              Black
            </label>
          </div>
        </label>
        <br>
        <label>
          Time Limit (hours):
          <div class="checkbox">
            <input type="checkbox" id="enableTimeLimit" name="enableTimeLimit" v-model="newGameDef.enableTimeLimit">
            <input v-if="newGameDef.enableTimeLimit" type="number" min="1" max="336" id="timeLimit" name="timeLimit" v-model="newGameDef.timeLimit" value="1">
          </div>
        </label>
        <br>
        <label for="name" class="">Name:<label>
        <input type="text" id="name" class="" name="name" v-model="newGameDef.name" placeholder="Name your new game">
        <p class="text-danger" v-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/support">contact support</a> if the error persists.</small></p>
      </div>
      <div class="modal-footer  flex-row-reverse justify-content-start">
        <ajax-button type="submit" :syncing="syncing" class="btn btn-primary ml-1">Play</ajax-button>
        <button data-dismiss="modal" class="btn btn-outline-primary mr-1">Cancel</button>
      </div>
    </ajax-form>
    <noscript>
      <strong>We're sorry but Elephant Chess games don't work without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div class="modal-footer" v-if="createGameFormSuccess">
      <button data-dismiss="modal" class="btn btn-outline-success">Game Created</button>
    </div>
  </modal>
  <% /* "End Create Game" modal */ %>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
