<div id="homepage" v-cloak>
  <div style="padding-top: 100px; padding-bottom: 25px; color: #14acc2;" class="d-flex flex-column justify-content-center position-relative" purpose="full-page-hero">
    <div class="container text-center">
      <div style="width: 210px; height: 150;" class="mx-auto position-relative">
        <img style="width: 160px; bottom: 50px; left: 18px;" class="position-absolute" purpose="ship" alt="Elephant Chess logo" src="/images/elephantchesslogo.png"/>
      </div>
      <h1 class="display-15 pb-3">Welcome to <strong>Elephant Chess</strong></h1>
      <div>
        <div style="cursor: pointer; bottom: 25px; left: 0;" class="position-absolute w-100 mt-5" purpose="more-info-text" @click="clickHeroButton()">
          <div style="letter-spacing: 2px;" class="text-uppercase font-weight-bold">Learn more</div>
          <div style="font-size: 20px;">&darr;</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt-5">
    <div class="pt-5" purpose="setup-section">
      <h3 class="text-center">Getting Started</h3>
      <div class="position-relative my-5" purpose="setup-step">
        <div style="left: 0; top: 0; width: 140px;" class="position-absolute d-none d-lg-block">
          <img alt="chess img" src="/images/chess.png" class="w-100"/>
          <img alt="Elephant Chess being played" src="/images/echess.gif" class="w-100"/>
        </div>
        <h5>The classic game of chess has been enjoyed for ages.</h5>
        <p>Challenging, strategic, and a game of endless learning. The classic game of chess has provided people everywhere with opportunities to play against others for fun and much more.</p>
        <p>Elephant chess is based upon the classic game of chess but adds a new dimension of strategy and fun.</p>
        <p>To get started, <a href="/signup">Sign Up</a>.  Or feel free to see the <a href="/faq#rules">rules</a> at the <a href="/faq">FAQ</a> page.</p>
      </div>
    </div>
    <hr/>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
