<div id="accounts" v-cloak>

  <div class="container">
    <div class="title page-header text-center">
      <h1>Accounts</h1>
      <p>Manage Accounts</p>
    </div>

    <table id="accountsTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="th-sm">Full Name</th>
          <th class="th-sm">Alias</th>
          <th class="th-sm">Email Address</th>
          <th class="th-sm">Email Status</th>
          <th class="th-sm">Admin</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users" :key="user.id">
          <td><a style="width: 150px" class="" :href="`/account/${user.id}/profile`" title="Edit account">{{user.fullName}}</a></td>
          <td>{{user.alias}}</td>
          <td>{{user.emailAddress}}</td>
          <td>{{user.emailStatus}}</td>
          <td><input type="checkbox" v-model="user.isSuperAdmin" disabled></td>
        </tr>
      </tbody>
      <tfoot v-if="users.length > 20">
        <tr>
          <th>Full Name</th>
          <th>Alias</th>
          <th>Email Address</th>
          <th>Email Status</th>
          <th>Administrator</th>
        </tr>
      </tfoot>
    </table>

  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
