<div id="accounts" v-cloak>
  <div class="row justify-content-center" :key="'user' + user.id" v-for="user in users">
    <div class="container pt-5 pb-5">
      <hr/>
      <div class="row mb-3">
        <div class="col-sm-6">
          <h4>{{user.fullName}}</h4>
        </div>
        <div class="col-sm-6">
          <span class="float-sm-right">
            <a style="width: 150px" class="btn btn-sm btn-outline-info" :href="`/account/${user.id}/profile`">Edit user</a>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-3">Alias:</div>
        <div class="col"><strong>{{user.alias}}</strong></div>
      </div>
      <div class="row">
        <div class="col-3">Email:</div>
        <div class="col">
          <strong :class="[user.emailStatus === 'unconfirmed' || user.emailStatus === 'change-requested' ? 'text-muted' : '']">{{user.emailChangeCandidate ? user.emailChangeCandidate : user.emailAddress}}</strong>
          <span v-if="user.emailStatus === 'unconfirmed' || user.emailStatus === 'change-requested'" class="badge badge-pill badge-warning">Unverified</span>
        </div>
      </div>
      <div class="row">
        <div class="col-3">Alias:</div>
        <div class="col"><strong>{{user.alias}}</strong></div>
      </div>
      <hr/>
      <div class="row mb-3" v-if="isBillingEnabled">
        <div class="col-sm-6">
          <h4>Billing</h4>
        </div>
        <div class="col-sm-6">
          <span class="float-sm-right">
            <button style="width: 150px;" class="btn btn-sm btn-outline-info" @click="clickUpdateBillingCardButton()">{{ user.hasBillingCard ? 'Change card' : '+ Add card' }}</button>
          </span>
        </div>
      </div>
      <div v-if="isBillingEnabled && user.hasBillingCard">
        <div class="row">
          <div class="col-3">Credit card:</div>
          <div class="col">{{user.billingCardBrand}} ending in <strong>{{user.billingCardLast4}}</strong> <a style="text-decoration: underline; cursor: pointer;" class="ml-2" purpose="remove-button" @click="clickRemoveCardButton()">Remove</a></div>
        </div>
        <div class="row">
          <div class="col-3">Expiration:</div>
          <div class="col">{{user.billingCardExpMonth}}/{{user.billingCardExpYear}}</div>
        </div>
      </div>
      <div class="alert alert-danger" v-else-if="isBillingEnabled && cloudError">
        There was an error updating your credit card information. Please check your information and try again, or <a href="/contact">contact support</a> if the error persists.
      </div>
      <div class="alert alert-secondary" v-else-if="isBillingEnabled">
        You have not linked a payment source to your account. In order to access paid features, you'll need to provide your credit card information. (Don't worry: you will only be charged when you've reached the limit of your free plan.)
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
