<div id="accounts" v-cloak>

  <div class="container">
    <div class="title page-header text-center">
      <h1>Accounts</h1>
      <p>Manage {{users.length}} Accounts</p>
    </div>

    <input id="filter" class="form-control" type="text" placeholder="Search" aria-label="Search" v-on:keyup.enter="filter">
    <br>

    <table id="accountsTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="th-sm">Full Name <span><i :class="fullNameClass" aria-hidden="true" @click="sortBy('fullName')"></i></span></th>
          <th class="th-sm">Alias <span><i :class="aliasClass" aria-hidden="true" @click="sortBy('alias')"></i></span></th>
          <th class="th-sm">Email Address <span><i :class="emailAddressClass" aria-hidden="true" @click="sortBy('emailAddress')"></i></span></th>
          <th class="th-sm">Email Status <span><i :class="emailStatusClass" aria-hidden="true" @click="sortBy('emailStatus')"></i></span></th>
          <th class="th-sm">Admin <span><i :class="isSuperAdminClass" aria-hidden="true" @click="sortBy('isSuperAdmin')"></i></span></th>
          <th class="th-sm">Disabled <span><i :class="isDisabledClass" aria-hidden="true" @click="sortBy('isDisabled')"></i></span></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users" :key="user.id">
          <td><a style="width: 150px" class="" :href="`/account/${user.id}/profile`" title="Edit account">{{user.fullName}}</a></td>
          <td>{{user.alias}}</td>
          <td>{{user.emailAddress}}</td>
          <td>{{user.emailStatus}}</td>
          <td><input type="checkbox" v-model="user.isSuperAdmin" disabled></td>
          <td><input type="checkbox" v-model="user.isDisabled" disabled></td>
        </tr>
      </tbody>
      <tfoot v-if="users.length > 20">
        <tr>
          <th>Full Name</th>
          <th>Alias</th>
          <th>Email Address</th>
          <th>Email Status</th>
          <th>Administrator</th>
          <th>Disabled</th>
        </tr>
      </tfoot>
    </table>

  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
